@use "sass:color";
$sample_s02_baseColor: skyblue;
$color-astro: #e60076;
$color-sass: #00a6f4;
$color-js: #ff8903;
$link-color: #333;
$link-color-hover: #999;

$main-color: #395dea;

$sp: 576px;
$md: 768px;
$lg: 1200px;