html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    overflow-y: scroll;
}

ul {
    list-style: none;
}

main {
    padding: 24px;

    .title {
        font-size: 1.8rem;
    }
}

.section {
    margin-bottom: 2.4rem;

    &-heading {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-between;

        &__main {
            h2 {
                margin-bottom: 0.8rem;
            }

            p {
                font-size: 1.2rem;
            }
        }

        &__aside {
            display: flex;
            gap: 24px;
            justify-content: center;
            align-items: center;
        }
    }
}

// all pages links
a:link,
a:visited {
    color: #333;
    text-decoration: none;
    transition: 0.3s;
    line-height: 1.8;
}

a:hover {
    color: #999;
    text-decoration: underline;
    text-decoration-color: #BBB;
    text-underline-offset: 6px;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 24px;
}

/* =========================
    SamplePage Section
========================= */
.sampleContent .content {
    margin-top: 24px;
}

/* =========================
    case block
========================= */
.sampleContent .practiceWrap {
    margin-top: 24px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fafafa;
}

// case title
.sampleContent .practiceWrap>h3 {
    margin-top: 0;
    font-size: 20px;
}

.sampleContent .practiceWrap>ul,
.sampleContent .practiceWrap>ol {
    margin-left: 2rem;
    margin-top: 1rem;
}

.sampleContent .practiceWrap>ul {
    list-style-type: disc;
}

.sampleContent .practiceWrap>table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;

    &,
    th,
    td {
        padding: 8px;
        border: 1px solid #333;
    }

    th {
        background-color: #eee;
    }

    td {
        background-color: #fff;
    }
}